#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
}

.entire-todo{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.display-todo{
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

.add-todo{
  padding: 10px;
  background-color: aqua;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.todo-input{
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
}

.add-todo-button, .clear-all-button{
  margin: 10px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightblue;
  cursor: pointer;
}